body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato';
    color: #fff;
}

/********************************
        NAVIGATION
********************************/
.navbar-nav li a{
    color: #2c3e50;
}

/*******************************
            Main 
********************************/
#main{
  background:  url(https://images.unsplash.com/photo-1446062061624-594b6e3403d7?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300) center center ; 
  background-size: cover;
  filter: brightness(20%);
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  height: auto;
  width: 100%;
  z-index: -1;
}

.dot-style{
    background: url(images/brilliant.png);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 50px;
}